<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kategoriat</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Kategoriat</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nimi</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryid}"></td>
                <td th:text="${category.name}"></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/addcategory}">Lisää uusi kategoria</a>
</body>
</html>